* {
    font-family: 'Dosis', sans-serif;
}

body{
    height: 98vh;
}

header{
    box-sizing: content-box;
    background-color: lightgrey;
    display: flex;
    height: 15%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

main{
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    overflow: auto;
    flex-wrap: wrap;
    margin: 0.5%;
}

footer{
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    background-color: lightgrey;
    position: absolute;
    bottom: 0;
    width: 100%;

}

footer *{
    margin: 0.5%;
}