* {
    font-family: 'Dosis', sans-serif;
}

body{
    height: 98vh;
}

header{
    box-sizing: content-box;
    background-color: lightgrey;
    display: flex;
    height: 20%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main{
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    overflow: auto;
    flex-wrap: wrap;
    margin: 0.5%;
}

footer{
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    background-color: lightgrey;

}

footer *{
    margin: 0.5%;
}