
header p{
    font-size: 3em;
    margin: 1vh;
}

.dropdown_menu {
    display: none;
    position: absolute;
    z-index: 1;
    background: rgba(128, 128, 128, 0.497);
    padding: 1%;
    transition: background-color 0.5s;
}


.dropdown_btn:hover + .dropdown_menu,
.dropdown_menu:hover {
    display: block;
}


.dropdown_menu:hover, 
.dropdown_menu:hover p{
    background-color: rgba(128, 128, 128, 0.83);
    font-weight: bolder;
}

nav{
    display: flex;
    margin: 1vh;
}

li:hover{
    text-decoration: underline;
}

nav button{
    border: none;
    background-color: rgba(133, 133, 133, 0.5);;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.5s;
    margin: 1px;
}

nav button:hover{
    background-color: rgba(66, 66, 66, 0.5);
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
}