main > div{
    display: flex;
    min-width: 350px;
    width: 98%;
    height: auto;
    background: rgba(187, 191, 195, 0.476);
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0.8%;
}

.main_title{
    margin: 0 0.5% 0.5%;
    font-size: calc(10px + 0.7vw);
    min-width: 250px;
    width: 100%;
    text-align: center;
    text-decoration: underline;
}
.main_lowbox{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}