main > div{
    display: flex;
    width: 98%;
    height: 95%;
    border-radius: 10px;
    background: rgba(187, 191, 195, 0.476);
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0.8%;
}

.main_title{
    margin: 0 0.5% 0.5%;
    font-size: 3vh;
    width: 100%;
    text-align: center;
    text-decoration: underline;
}
.main_lowbox{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

@media screen and (max-width: 1800px) {
    main > div{
        height: auto;
    }
  }