.project_item{
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    max-width: 400px;
    max-height: 500px;
    padding: 1%;
    margin: 1%;
    background-color: rgba(187, 191, 195, 0.662);
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;

}

.project_item img{
    box-sizing: content-box;
    width: 100%;
}

.project_title{
    margin: 1%;
    font-weight: bold;
}

.project_link {
    background-color: rgb(187, 191, 195);
    padding: 1%;
    border-radius: 10px;
    transition: all 0.5s;
}

.project_link:hover{
    background-color: rgba(0, 0, 0, 0.445);
}

@media screen and (max-width: 1800px) {

    .project_item{
        width: 90%;
    }
   
  }