* {
    font-family: 'Dosis', sans-serif;
}

header{
    background-color: lightgrey;
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header p{
    font-size: 3em;
    margin: 1vh;
}

nav{
    display: flex;
    margin: 1vh;
}

#dropdown {
    display: none;
  }
  
#dropdown.show {
    display: block;
  }

nav button{
    border: none;
    border-radius: 5px;
    background: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.5s;
}

nav button:hover{
    background-color: rgba(128, 128, 128, 0.497);
}


a {
    text-decoration: none;
    color: black;
}

a:hover{
    cursor: pointer;
    color: yellow;
    text-decoration: underline;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: lightgrey;
}

footer *{
    margin: 0.5%;
}